# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/

# Type checkers / linters caches
.mypy_cache/
.pytest_cache/
.ruff_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project-specific
maze.txt
